body {
    background-color: antiquewhite;
    color: darkblue;
}

section {
    background-color: dimgray;
}

h1 {
    color: brown;
}

h2 {
    color: rgb(12, 0, 139);
}

h3 {
    color: mediumpurple;

}